@layer components {
  .typo-title {
    @apply font-heading text-4xl leading-tight font-extrabold tracking-tight;
  }

  .typo-subtitle {
    @apply font-heading text-2xl leading-snug font-bold;
  }

  .typo-text {
    @apply font-sans text-base leading-relaxed font-medium;
  }

  .typo-span {
    @apply font-sans text-sm leading-normal font-semibold;
  }

  .btnLink {
    @apply inline-flex flex-row items-center justify-center-safe px-4 py-2 align-middle font-sans;
  }

  .btnLink-primary {
    @apply bg-secondary-500 text-secondary-600 hover:bg-secondary-600 rounded-tr-3xl rounded-bl-3xl hover:text-white focus:ring-blue-500;
  }

  .btnLink-secondary {
    @apply bg-accent-a text-secondary-600 hover:bg-secondary-600 rounded-tl-3xl rounded-br-3xl hover:text-white focus:ring-blue-500;
  }

  .btnSimple {
    @apply relative inline-flex flex-row items-center justify-center-safe px-4 py-2 align-middle font-sans;
  }

  .btnSimple-primary {
    @apply bg-secondary-500 text-secondary-600 hover:bg-secondary-600 rounded-tr-3xl rounded-bl-3xl hover:text-white focus:ring-blue-500;
  }

  .btnSimple-secondary {
    @apply bg-accent-a text-secondary-600 hover:bg-secondary-600 rounded-tl-3xl rounded-br-3xl hover:text-white focus:ring-blue-500;
  }

  .tooltip {
    @apply absolute z-10 inline-flex flex-row items-center justify-center-safe rounded-2xl px-4 py-1 align-middle font-sans;
  }

  .tooltip-primary {
    @apply bg-secondary-500 text-secondary-600 rounded-tr-3xl rounded-bl-3xl focus:ring-blue-500;
  }

  .tooltip-secondary {
    @apply bg-accent-a text-secondary-600 rounded-tl-3xl rounded-br-3xl focus:ring-blue-500;
  }

  .tooltip-top {
    @apply bottom-full left-1/2 mb-2 -translate-x-1/2;
  }

  .tooltip-bottom {
    @apply top-full left-1/2 mt-2 -translate-x-1/2;
  }

  .tooltip-left {
    @apply top-1/2 right-full mr-2 -translate-y-1/2;
  }

  .tooltip-right {
    @apply top-1/2 left-full ml-2 -translate-y-1/2;
  }

  .tooltip-top::after,
  .tooltip-bottom::after,
  .tooltip-left::after,
  .tooltip-right::after {
    content: "";
    position: absolute;
    background: inherit;
  }

  .tooltip-top::after {
    left: 50%;
    top: 100%;
    width: 12px;
    height: 8px;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  .tooltip-bottom::after {
    left: 50%;
    bottom: 100%;
    width: 12px;
    height: 8px;
    transform: translateX(-50%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }

  .tooltip-left::after {
    left: 100%;
    top: 50%;
    width: 8px;
    height: 12px;
    transform: translateY(-50%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .tooltip-right::after {
    right: 100%;
    top: 50%;
    width: 8px;
    height: 12px;
    transform: translateY(-50%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}
