@layer utilities {
  .u-hidden {
    display: none !important;
  }

  .bg-gradient {
    background: linear-gradient(
      139deg,
      theme("colors.white") 0%,
      theme("colors.fondo.a") 25%,
      theme("colors.fondo.b") 50%,
      theme("colors.fondo.c") 75%,
      theme("colors.white") 100%
    );
  }

  .dark .bg-gradient {
    background: linear-gradient(
      139deg,
      theme("colors.primary.500") 0%,
      theme("colors.secondary.500") 50%,
      theme("colors.primary.600") 100%
    );
  }

  .clip-notch-tr {
    clip-path: polygon(
      0 0,
      calc(100% - 90px) 0,
      /*inicio*/ calc(100% - 90px) 28px,
      calc(100% - 89px) 30px,
      calc(100% - 88px) 32px,
      calc(100% - 87px) 34px,
      calc(100% - 86px) 36px,
      /*punto centrar*/ calc(100% - 84px) 37px,
      calc(100% - 82px) 38px,
      calc(100% - 80px) 39px,
      calc(100% - 78px) 40px,
      140% 40px,
      /*final*/ 140% 140%,
      -40% 140%
    );
  }

  @media (max-width: 1023px) {
    .clip-notch-tr {
      clip-path: none;
    }
  }
}
